.searchForBeer {
  text-align: center;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 35px;
}

.search-box__input {
  width: 80%;
  margin-left: 7%;
  border-radius: 20px;
  margin-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
  align-items: center;
}
